<div class="myself">
    <div class ="container">
        
        <div class="clearfix">
            <h6>THIS IS ME,</h6>
            <h2>TANG CHAOXIN</h2>
            <p>I am a software engineer, 
                <br>who is passionate about exploring innovative ideas 
                <br>and use them to make products those could impact the world.
                
                <img src="./assets/m.jpg" alt="me" class="img-thumbnail">
            </p>

            <div class="row">


            <a href="https://www.linkedin.com/in/chaoxin-tang1214/" target="_blank" class=" btn-grad text-uppercase">
            <span>Linkedin</span></a>

            <a href="https://github.com/chaotang1994" target="_blank" class="btn-grad2 text-uppercase">
                <span>Github</span></a>

            <a href="./assets/CT_resumeV4_2.pdf" target="_blank" class="btn-grad3 text-uppercase">
            <span>Resume</span></a>

            </div>
          </div>    



    </div>  

</div>
