<div class="about">

    
    <div class ="container">
        
        <h3>ABOUT ME</h3>
            <h6>WHO AM I?</h6>
            <hr>
            <p>I am a software developer.<br>
                ALSO,
                <br>
                When I have free time, I like to swimming, play basketball, learning and cooking food that which I have never cooked before.
                <br>
                I went to Queens College, City University of New York for my four years degrees.
                
            </p>
            <app-education></app-education>
        

    </div> 

</div>
