<div class="experience">
    <div class ="container">
        
        <div class="clearfix">
            <h3>EXPERIENCE</h3>
            <div class="row">
                <div class="col">
                <div class="card" style="width: 70em">
                    <img class="card-img-top img-responsive" src="./assets/Infosys.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><span>INFOSYS LIMITED</span> 
                        <br> New York City, NY September 2019 – July 2020</h5>
                    
                        <span>ASSOCIATE SOFTWARE ENGINEER</span>
                        <ul class="unorderList">
                            <li>Developing in Object Oriented Programming using Java and J2EE related technologies/environments.</li>
                            
                            <li>Worked extensively on J2EE for developing Web and Distributed Applications(server/client) by using JDBC, JSP, Hibernate, and Web Services.</li>
                        
                            <li>Designing and implementation of multi-layer architecture using web-based Spring framework Spring Boot.</li>
                            
                            <li>Worked with Maven for project management, Git for version control, and Log4J for debugging.</li>
                        
                            <li>Integrated Spring DAO for spring data accesses and using Hibernate ORM(object-relational-mapping to fetch data from.</li>
                        
                            <li>Worked in RESTful API's, spring controllers to handle the requests and responses.</li>
                        
                            <li>Knowledge of Object-Oriented Programming (OOP), Analysis and Design (OOAD) concepts, and designing.</li>
                        
                            <li>Worked test-driven development using testing frameworks such as JUnit and Mockito to optimized test cases to maximize the success of manual software testing with consistent, thorough approaches.</li>
                            
                            <li>Developing with Single Page Application Web Framework(Angular), user interfaces using Angular, bootstrap, JavaScript, HTML5, and CSS3.</li>
                        </ul>
                        
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
                </div>
            


                <div class="col">
                    <div class="card" style="width: 70em;">
                        <img class="card-img-top img-responsive" src="./assets/qcc.jpg" alt="QCC">
                        <div class="card-body">
                            <h5 class="card-title"><span>Academic Computing Center(ACC) In Queensborough Community College</span>  
                                <br> Bayside, NY September 2016 – January 2017</h5>
                        
                            <span> COMPUTER LAB TECHNICIAN</span>
                            <ul class="unorderList">
                                <li>Maintained skills necessary to diagnose technical issues, devise effective solutions, and advise staff on best practices to avoid future difficulties.</li>
                                <li>Maintained software specification and hardware equipment function properly, including individualized assistance to students and faculty.</li>
                                <li>Collected records of student's performance in the lab in order to improve the learning experience for future needs.</li>
                                <li>Worked with the software development team on reported errors and bugs on newly released software and assisted in the deployment of release fixes.</li>
                            </ul>
            
                        </div>
                    </div>
                </div>
             
            </div>


          </div>    

    </div>  

</div>
