<div class="project">
    <div class="container">
        <h3>PROJECT</h3>
        <div class="row">

        <div class="col col-12 col-sm-6">
            <h6><span>XShop</span>(Java, Spring, Mysql, HTML, CSS, Typescript, Angular, mySQL)
            </h6>
                <a href="https://www.youtube.com/watch?v=Jeq8iBFd03c" target="_blank" class="btn-grad2 text-uppercase">
                    <span>YouTube</span></a>
    
                <a href="https://github.com/chaotang1994/Helicopter-in-openGL" target="_blank" class="btn-grad3 text-uppercase">
                <span>Github</span></a>
                <div class="resp-container">
                    <iframe class="resp-iframe" src="..." title="XShop" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
                </div>
            </div>
 

        <div class="col col-12 col-sm-6">
            <h6><span>3D Graphics of Helicopter</span>(C++, OpenGL)
            </h6>
                <a href="https://github.com/chaotang1994/Helicopter-in-openGL" target="_blank" class="btn-grad2 text-uppercase">
                    <span>YouTube</span></a>
    
                <a href="https://github.com/chaotang1994/Helicopter-in-openGL" target="_blank" class="btn-grad3 text-uppercase">
                <span>Github</span></a>
                <div class="resp-container">
                <iframe class="resp-iframe" src="https://www.youtube.com/embed/6nNzUG9j63I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

            </div>
         
        </div>


        </div>


      </div>

</div>
